body {
  background-color: gray;
}

p {
  background-color: orange;
  padding: 15px;
  margin: 15px;
}

.flex-sample {
  display: flex;
}

.flex-sample2 {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
}

.direction {
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
}